:root {
    --background-col: #6d6875;
    --text-col: #ffffff;
    --text-col-black: #000000;
    --p-col: #b5838d;
    --s-col: #e5989b;
    --t-col: #5a4145;
    --high-o: rgba(255, 255, 255, .1);
    --med-o: rgba(255, 255, 255, .6);
    --low-o: rgba(255, 255, 255, 0.8);
}