:root {
    --background-col: #f2e9e4;
    --text-col: #22223b;
    --text-col-black: #ffffff;
    --p-col: #b5838d;
    --s-col: #787892;
    --t-col: #d0c0bb;
    --high-o: rgba(0, 0, 0, .1);
    --med-o: rgba(0, 0, 0, .6);
    --low-o: rgba(0, 0, 0, 0.8);
}
