/* Variables */
:root {
    --ns-col: rgba(44, 163, 148, .4);
    --nf-col: rgba(230, 57, 70, .4);

    --font-family: 'Roboto', sans-serif;
    --base-font-size: 16px;
    
    --container-x-padding: 10px;
    --container-width: 800px;

    --header-height: 65px;
}

/* Base */
html,
body {
    min-width: 320px;
    background-color: var(--background-col);
    color: var(--text-col);
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    font-weight: 400;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

html.scroll-disable,
html.scroll-disable body {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    touch-action: none;
    overflow: hidden;
}

a {
    color: var(--text-col);
    text-decoration: none;
    transition: all 0.3s;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

h1, h2, h3 {
    font-weight: 700;
}

button {
    outline: none;
}

.container {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    max-width: calc(var(--container-width) + var(--container-x-padding) * 2);
    padding-right: var(--container-x-padding);
    padding-left: var(--container-x-padding);
    margin: 0 auto;
    box-sizing: border-box;
}

.container--header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}


.main {
    padding-top: var(--header-height);
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* Fonts */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/Roboto-Thin.ttf") format('ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Roboto-Regular.ttf") format('ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Roboto-Bold.ttf") format('ttf');
}

/* Header */
.header {
    width: 100%;
    background-color: var(--p-col);
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    float: none;
    height: var(--header-height);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 8;
    display: flex;
}

.header__logo {
    user-select: none;
    font-weight: 100;
    font-size: 28px;
    color: var(--text-col);
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
}

.header__list {
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    padding: 15px;
    height: calc(100vh - var(--header-height));
    background-color: var(--t-col);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 5px;

    z-index: 1;
    visibility: hidden;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: .45s ease-out;
    pointer-events: none;
    will-change: transform;
}

.header__list--active {
    visibility: visible;
    pointer-events: auto;
    clip-path: circle(1000px at 90% -20%);
    -webkit-clip-path: circle(1000px at 90% -20%);
}

.header__item {
    border-radius: 5px;
    background-color: var(--s-col);
    padding: 7px 8px 7px 20px;
    width: 100%;
}

.header__item--active {
    background-color: var(--med-o);
}

.header__item--active .header__link {
    color: var(--text-col-black);
}

.header__link {
    color: var(--text-col);
    font-size: 20px;
    line-height: 160%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__link-title {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

.header__link-title .icon {
    flex: 0 0 30px;
}

.burger {
    width: 28px;
    height: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: .25s ease-out;
}

.burger__item {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--text-col);
    transition: transform .2s ease-out, opacity .2s ease-out;
}

.header__list--active + .burger .burger__item:nth-child(2) {
    opacity: 0;
}

.header__list--active + .burger .burger__item:nth-child(1) {
    transform: translateY(9px) rotate(45deg)
}

.header__list--active + .burger .burger__item:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg)
}

.header__list--active + .header__burger {
    transform: rotate(90deg);
}

/* Card */

.card {
    -webkit-perspective: 700;
    -moz-perspective: 700;
    -o-perspective: 700;
    perspective: 700;
}

.card, .card__front, .card__back {
    width: 100%;
    min-height: 170px;
}

.card__flipper {

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.card--flipped .card__flipper,
.card--flipped .card__flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card__front, .card__back {
    margin: 10px auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    padding: 15px;
    backdrop-filter: blur(5px);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.card__back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background: var(--p-col);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 10px;
}

.card__front {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}



.card__new-value {
    font-size: 20px;
    font-weight: 900;
}

.card__new-weight {
    color: var(--text-col);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--background-col);
    padding: 6px 10px;
    border-radius: 10px;
    outline: none;
    caret: var(--t-col);
    caret-color: var(--t-col);
}

.card__new-weight::placeholder {
    color: var(--text-col);
    opacity: 0.4;
}

.card__new-button {
    background-color: var(--background-col);
    padding: 8px 15px;
    border-radius: 10px;
}

.card__warning {
    background-color: darkred;
    color: var(--text-col);
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 10px;
    transition: all .1s linear;
}


.card__title {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 25px;
}

.card__button-add {
    cursor: pointer;
    font-size: 50px;
}

.card--pfc {
}

.card--pfc .card__grid {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.card--pfc .card__row {
    width: 100%;
    padding: 8px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.card--pfc .card__row-text {
    font-size: 20px;
    font-weight: 100;
}

.card--pfc .card__row-text:nth-child(2) {
    color: var(--t-col);
    font-weight: 700;
}

/* Home page */

.home-page {
    padding: 20px 0 40px;
}

.home-page__title {
    font-weight: 700;
    font-size: 22px;
}

.home-page__title:not(:first-child) {
    margin-top: 30px;
}

/* Notification */

.notification {
    min-height: 40px;
    width: 300px;
    padding: 5px 10px;
    background-color: var(--s-col);
    position: fixed;
    top: 10px;
    right: 10px;
    transform: translateX(150%);
    z-index: 9;
    color: var(--text-col);
    border-radius: 10px;
    transition: .45s ease-out;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.notification--success {
    background-color: var(--ns-col);
    border: 3px solid #1e6c63;
}

.notification--error {
    background-color: var(--nf-col);
    border: 3px solid #a0252d;
}

.notification.active {
    transform: translateX(0%);
}

.notification__grid {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5px;
    align-items: center;
}

.notification__icon {
    grid-row: 1/3;
    font-size: 35px;
}

.notification__text {
    font-weight: 400;
    font-size: 12px;
    color: var(--low-o);
}

.notification__title {
    font-size: 16px;
    font-weight: 700;
}

/*Settings*/

.settings-page {
    padding-top: 20px;
}

.settings__list {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    list-style: none;
    row-gap: 5px;
}

.settings__item {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--high-o);
    backdrop-filter: blur(5px);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    height: 49px;
}

.settings__link {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Switcher Radio */

.switcher__radio {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    transition: filter 0.1s ease-in;
}

.switcher__radio:focus {
    outline: none;
}

.switcher__radio--light {
    background-image: url('../images/icons/light.svg');
}

.switcher__radio--dark {
    background-image: url('../images/icons/dark.svg');
}


/* Switcher */

.switcher {
    position: relative;
    margin: 0;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
}

/* Switcher Status */

.switcher__status {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 0.2);
    border-radius: 18px;
    background-color: var(--background-col);
    background-repeat: no-repeat;
    background-image: url('../images/icons/status.svg');
    background-size: 24px;
    background-position: right 2px center;
    transition: background-position 0.1s ease-in;
}

.switcher__radio:focus-visible ~ .switcher__status {
    box-shadow: 0 0 0 2px black;
}

.switcher__radio--light:checked ~ .switcher__status {
    background-position: left 2px center;
}

.switcher__radio--dark:checked ~ .switcher__status {
    background-position: right 2px center;
}

/* SimpleCard */

.simple-card {
    margin: 10px auto;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
    background-image: url("/images/canvasback.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    backdrop-filter: blur(5px);
}

.simple-card__wrapper {
    max-width: 390px;
    overflow: scroll;
}

/* Canvas */

.canvas {
    display: block;
}

/* Support page */

.support-page {
    padding-top: 20px;
}

.support-page__title {
    font-size: 25px;
    line-height: 160%;
    font-weight: 700;
    color: var(--text-col);
}

.support-page__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: var(--text-col);
}